{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Image Boxer plugin for Craft CMS
 *
 * ImageBoxerUtility Utility Content
 *
 * @author    Matthias Hiller
 * @copyright Copyright (c) 2021 Matthias Hiller
 * @link      https://hiller.digital
 * @package   ImageBoxer
 * @since     1.0.0
 */
#}

<h1>ImageBoxerUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@hillerdigital/imageboxer/assetbundles/imageboxerutilityutility/dist', true) ~ '/img/ImageBoxerUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>